<app-header></app-header>
<div class="row">
    <div class="col-12">
        <button
            class="btn btn-primary"
            [disabled]="!allowNewContent"
            (click)="onCreateContent()">
            Add New Content
        </button>
        <p class="mt-2">
            {{ createContentStatus }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name">
                Name:
            </label>
            <input type="text" name="name" id="name" class="form-control" (input)="onUpdateUserName($event)">
        </div>
        <div class="form-group">
            <p>
                {{ userName }}
            </p>
        </div>
        <div class="form-group">
            <label for="nick_name">
                Nick Name (Two Way Data Binding):
            </label>
            <input type="text" id="nick_name" class="form-control" [(ngModel)]="nickname">
        </div>
        <div class="form-group">
            <p>
                {{ nickname }}
            </p>
        </div>
    </div>
</div>
