<app-header></app-header>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="name">
                Enter Your Name (Two Way Data Binding):
            </label>
            <input type="text" id="name" class="form-control" [(ngModel)]="userName">
        </div>
        <div class="form-group">
            <button
                class="btn btn-primary"
                [disabled]="!allowShowName"
                (click)="onShowName()">
                Show Complete Text
            </button>
        </div>
        <div class="form-group" *ngIf="showUserName">
            <p>
                Your name is : <b>{{ userName }}</b>
            </p>
        </div>
    </div>
</div>
